# =========================
# Build
# =========================
bin/
obj/
out/

# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/
.idea/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log
src/Ambev.DeveloperEvaluation.WebApi/logs/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
TestResults/
coverage/
*.coverage
*.coveragexml

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Database
# =========================
*.db
*.sqlite

# =========================
# Docker
# =========================
*.pid
*.seed
*.sock

# =========================
# Misc
# =========================
*.tmp
*.temp